.menuItem {
  height: inherit;
  display: inline-block;

  a {
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    padding: 15px;
    display: inline-block;

    &,
    &:active,
    &:hover,
    &:visited {
      color: inherit;
      text-decoration: inherit;
    }
    em,
    span {
      position: absolute;
      top: 10px;
      right: -5px;
      pointer-events: none;
      font-style: normal;

      @media (min-width: 768px) and (max-width: 991px) {
        top: 5px;
        right: -7px;
      }

      @media (min-width: 992px) and (max-width: 1100px) {
        right: -20px;
      }
    }

    @media (max-width: 767px) {
      padding: 11px 10px 19px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      padding: 11px 10px 19px;
      font-size: 13px;
    }

    @media (min-width: 992px) and (max-width: 1100px) {
      padding: 15px 0;
      font-size: 13px;
    }
  } 

  @media (max-width: 767px) {
    &:first-child > a {
      padding-left: 20px;
    }
  }
}
