/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.item {
  position: relative;
  display: block;
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;

  & > div {
    margin: 20px 10px;

    @media (min-width: 1200px) {
      margin: 0;
    }

    & > div {
      width: 100%;
      display: inline-block;
    }
  }

  img {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  @media (min-width: 1200px) {
    padding: 0 12px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
}

.image {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);

  &.active {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }

  &.preventHref a {
    pointer-events: none;
  }

  a {
    @media (max-width: 767px) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100%;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100%;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100%;
    }
  }

  @media (max-width: 767px) {
    height: 183px;
    border-radius: 3px 3px 0 0;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    height: 183px;
    border-radius: 3px 3px 0 0;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    height: 183px;
    border-radius: 3px 3px 0 0;
  }
}

.information {
  text-align: center;

  a,
  a:active,
  a:hover,
  a:visited {
    color: #36f;
    text-decoration: inherit;
  }

  h2 {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    color: #333;
    width: auto;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @media (min-width: 1200px) {
      margin-left: 20px;
      margin-right: 20px;
      font-size: 20px;
      line-height: 1.5;
    }
  }

  h3 {
    margin-top: 6px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.15;
    color: #666;
    width: auto;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @media (min-width: 1200px) {
      margin: 0 20px;
      height: 44px;
      font-size: 14px;
      line-height: 1.64;
      color: #333;
    }
  }

  hr {
    height: 1px;
    margin: 0;
    border: none;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    background-color: #ececec;
  }

  @media (min-width: 1200px) {
    &.active {
      opacity: 1;
      &:not(.edge) {
        -webkit-animation: information-animation 0.4s ease-in-out;
                animation: information-animation 0.4s ease-in-out;
      }
    }

    position: absolute;
    bottom: 28px;
    width: 330px;
    height: 146px;
    border-radius: 4px;
    background-color: #fff;
    opacity: 0;
    text-align: left;
    left: 34px;
  }
}

.directButton {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  min-width: 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  height: 40px;
  padding: 6px 8px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #36f;

  @media (min-width: 1200px) {
    margin: 6px 0 0 13px;
  }
}

.buttonLabel {
  width: 100%;
  font-size: inherit;
  font-weight: inherit;
  display: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  color: inherit;

  & > span {
    margin-top: -2px;
    margin-right: -1px;
    margin-left: 2px;

    & > span {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: inherit;
          -ms-flex-align: inherit;
              align-items: inherit;
      -webkit-box-pack: inherit;
          -ms-flex-pack: inherit;
              justify-content: inherit;
    }
  }

  svg {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    font-size: inherit;
  }
}

@-webkit-keyframes information-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes information-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
